body{
  margin: 6em;
  background-color: Aquamarine;
  color: DarkCyan;
  font-family: "Quicksand", sans-serif;
}

h1{
  text-align:center;
  animation: headingChange 5s infinite;
}

@keyframes headingChange{
  0%{color: #023E73;}
  20%{color: #024873;}
  40%{color: #03658C;}
  60%{color: #5BB5D9;}
  80%{color: #88DFF2;}
  100%{color: #023E73;}
}

img{
  width: 300px;
}

/*wood*/
.wood {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1fab5.png) 36 36, auto;
}

/*genie*/
.genie {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f9de.png) 36 36, auto;
}

/*bookmark*/
.bookmark {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f516.png) 36 36, auto;
}

section{
  padding: 1rem;
  display: flex;
}

figure{
  display: flex;
  align-self: flex-start;
  position: sticky;
  top: 1rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: DarkCyan;
  color: Aquamarine;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

button{
  background-color: DarkCyan;
  color: Aquamarine;
  font-family: "Quicksand", sans-serif;
  padding: 10px;
}